<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokemonMVVMR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77D4778B2D82443000AEB5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D4779B2D82443200AEB5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D477A52D82443200AEB5AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
